[user]
	name = Yuan Fu
	email = casouri@gmail.com
        signingkey = 3F7BCFC91DD1388620335B9F1CF5ECABEC37A901
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesfile = ~/.gitignore-global

[commit]
        gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
