<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>me.yuan.mailwatch</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/terminal-notifier</string>
		<string>-title</string>
		<string>New Mail</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>~/Mail/Gmail/Inbox/new/</string>
		<string>~/Mail/PSU/Inbox/new/</string>
	</array>
</dict>
</plist>
