<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>YaST</string>
		<key>shortcut</key>
		<string>yast</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(〃▽〃)</string>
		<key>shortcut</key>
		<string>xiu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(#｀Д´)ﾉﾉ┻┻;:'､･ﾞ</string>
		<key>shortcut</key>
		<string>xianzhuo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>x86_64</string>
		<key>shortcut</key>
		<string>x64__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>x86</string>
		<key>shortcut</key>
		<string>x32__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>VMware</string>
		<key>shortcut</key>
		<string>vmware</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Virtualbox</string>
		<key>shortcut</key>
		<string>virtualbox</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>up__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>shift__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>right__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Qt 4</string>
		<key>shortcut</key>
		<string>qt4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>openSUSE</string>
		<key>shortcut</key>
		<string>opensuse</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>,,Ծ‸Ծ,,</string>
		<key>shortcut</key>
		<string>ningshi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>———————————————————————————————————————————</string>
		<key>shortcut</key>
		<string>linebreak__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>left__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⌐■_■)</string>
		<key>shortcut</key>
		<string>ku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´ ˘ `*)</string>
		<key>shortcut</key>
		<string>keai</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>KDE</string>
		<key>shortcut</key>
		<string>kde</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣Д￣;)</string>
		<key>shortcut</key>
		<string>jiong</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>GTK</string>
		<key>shortcut</key>
		<string>gtk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>GNOME</string>
		<key>shortcut</key>
		<string>gnome</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Γ</string>
		<key>shortcut</key>
		<string>gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>付禹安</string>
		<key>shortcut</key>
		<string>fuyuan</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Firefox</string>
		<key>shortcut</key>
		<string>firefox</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>down__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>dg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℉</string>
		<key>shortcut</key>
		<string>degreef</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℃</string>
		<key>shortcut</key>
		<string>degreec</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>control__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>command__</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Chromium</string>
		<key>shortcut</key>
		<string>chromium</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(￣^￣)ゝ</string>
		<key>shortcut</key>
		<string>bushuang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>,,Ծ‸Ծ,,</string>
		<key>shortcut</key>
		<string>bushuang</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Β</string>
		<key>shortcut</key>
		<string>beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Α</string>
		<key>shortcut</key>
		<string>alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>」</string>
		<key>shortcut</key>
		<string>]]]]</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>』</string>
		<key>shortcut</key>
		<string>]]]</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>「</string>
		<key>shortcut</key>
		<string>[[[[</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>『</string>
		<key>shortcut</key>
		<string>[[[</string>
	</dict>
	<dict/>
</array>
</plist>
